footer
    .container
        h1 Contact
        .row.flex.flex-wrap
            .left
                section.office.flex.space-between

                    .br 
                        
                        .contact 
                            .title Brazil Office 
                            | +55 21 3356-5699 #[br]
                            | info@shallowgeo.com


                    .pt
                        
                        .contact 
                            .title Portugal Office 
                            | +351 961 304 470 #[br]
                            | info@shallowgeo.com


            .right

                section.f-menu 
                    ul 
                        li 
                            a(href="") about 

                        li 
                            a(href="") services 

                        li  
                            a(href="") contact us

            section.social.flex
                i.fab.fa-linkedin
                div
                    h2 Social networks:
                    a(href="http://linkedin.com/company/shallowgeo")  www.linkedin.com/company/shallowgeo


    section.copyright 
        .container 
            p © Copyright 2021 Shallow Geo. All rights reserved.

