header
  .container.flex.space-between
    section.logo
      h1
        a(href='/')
          img(src='src/images/logo-shallowGeo.png' alt='Shallow Geo')
    section.menu
      ul
        li.about.has-submenu
          a(href="#") about
          ul.sub-menu
            li
              a(href='/about.html') history
            li
              a(href='/technology.html') Technology
        li.services
          a(href='/services.html') services
        li.contact
          a(href='/contact.html') contact us
        li.linkedin
          a(href='https://www.linkedin.com/company/shallowgeo/' target="_blank")
            i.fab.fa-linkedin
span.before