doctype html
html(lang="en")
    include includes/head.pug
    body

include components/header

main.services
    section.top
        .container.flex.space-between
            div
                h1 
                    | Services

                p 
                    span Quality Control and Quality Assurance #[br]

                    | Our staff is composed of Geophysicists with 10 years of experience in field supervision, | crew management and data analysis for marine acquisition campaigns of high-resolution 
                    | seismic reflection, sub-bottom profilers, sidescan sonar, single and multibeam, and 
                    | magnetic gradiometry data.  


            div
                img(src="src/images/img-top-services.jpg" alt="")/



    section.support
        .container.flex.space-between            
            .left 
                h2 Acquisition Support

                p We ensure data is in the quality required by government guidelines as BOEM (Bureau of Ocean Energy Management) in the United States. Providing internal confidence to management and externally for the client. #[br] We integrate geophysical data of geotechnical sites and produce the deliverables for the approval of QMA (Qualified Marine Archeologists) during geotechnical clearance campaigns.

            .right 
                h2 Field Processing

                p.field-processing We design workflows oriented to field processing and dedicated to different  electroacoustic systems as Boomer, Sparker, Chirp, Parametric Echosounder and Pinger as well as single and multibeam echosounders.

                h2.client-representation Client #[br] Representation

        .container
            p.client-representation We manage offshore projects and people while preparing documentation, writing reports and concerning health and safety. We understand government requirements and know how to make feasible constructions while ensuring minimal risks.

    section.processing 
        .container 
            h1 Processing

            h2 Shallowgeo is expert in all aspects of processing of geophysical data with proven experience in the following areas:


            img(src="src/images/img-top-services-01.jpg")/

            img(src="src/images/img-top-services-02.jpg")/

            p 
                span Multi- and Single-Channel Seismic
                | Tide Reduction, Spherical Divergence Correction, Velocity Analysis, Residual Static Correction, Designature, DeMultiple, Denoise and Migration

                span Sub-Bottom Profiler 
                | Tide and Heave Reduction, Designature, DeMultiple and Denoise

                span Magnetic Gradiometry 
                | Filtering, Gradient Calculation, Analytical Signal and Targets Interpretation

                span Sidescan Sonar 
                | USBL data processing, Bottom track, Gain Application, Mosaicking and Interpretation of Targets, Features and Sediments Texture.

                span Single and Multibeam 
                | Tide Reduction, Ray Tracing, Patch Test, Geometrical/Statistical Filtering, Mosaicking and Interpretation of Featur

    section.inversion 
        .container
            h2 Interpretation and Inversion

            .content.flex
                ul 
                    li 
                        p 
                            span Seismic Qualitative Analysis #[br]
                            | Reflectors and Seismic Facies Mapping #[br]
                            | Lithology #[br]
                            | Isopach

                    li 

                        p 
                            span Seismic Quantitative Analysis#[br]
                            | Data Conditioning#[br]
                            | Correlation of Geotechnical Data with Seismic Profiles#[br]
                            | Multi-Attribute Analysis#[br]
                            | Spectral Decomposition#[br]
                            | Pre-Stack and Pos-Stack Inversion#[br]
                            | Seismic Attributes dedicated to shallow risks
                    li 
                        p 
                            span Magnetic Field Modeling #[br]
                            | Shape of Source #[br]
                            | Depth of Source #[br]
                            | Ferrous Mass Estimation #[br]

                img(src="src/images/img-top-services-03.jpg")/


    section.preparation 
        .container.flex.space-between
            .left 

                h2 
                    | Technical #[br]
                    | Document #[br]
                    | Preparation

            .right 

                ul 
                    li Technical Reports                    

                    li Desktop Studies

                    li Site Characterization

                    li Cable Route Design
                
include components/footer