.about {
    h1 {
        font-size: 85px;
        font-weight: 800;
        color: $c-primary;
    }


    p {
        background-color: #FFF;
        padding: 40px;
        font-size: 17px;
        font-weight: 500;
        color: $c-primary;
        line-height: 30px;
    }

    .right, .left {
        position: relative;
    }

    .top {
        padding-top: 155px;
        background: url('/src/images/bg-about-top.jpg') no-repeat center top;        
        height: 470px;
        
        p {
            max-width: calc(675px - 75px) ;
            margin-top: 40px;
        }

        h1 {
            padding-top: 100px;
            font-size: 88px;
            letter-spacing: 10px;
        }

        img {
            position: absolute;
            right: 15px;
            //z-index: 10;
        }
        
    }

    .map {
        padding-top: 40px;
      
    }


    .about-text {
        margin: 40px 0 60px;
        align-content: flex-start;

        .left {
            margin-right: 15px;
            p {
                margin-bottom: 22px;

                &:last-child{
                    margin-bottom: 0;
                }
            }

            
            
        }

        .right {
            position: relative;
            margin-left: 15px;
            ul {
                background-color: #FFF;
                padding: 56px 62px;
                width: calc(560px - 124px);
                li {
                    margin-bottom: 35px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                p {
                    font-size: 27px;
                    font-weight: bold;
                    padding: 0 0 10px;
                }

                span {
                    font-size: 17px;
                    color: $c-primary;
                }
            }
        }
    }

    .people {
        background-color: $c-primary;
        padding-top: 80px;

        max-height: calc(705px - 80px);

        h1 {
            color: #FFF;
            width: 100%;
            margin-bottom: 60px;
        }

        ul {
            display: flex;
            justify-content: space-between;

            width: 100%;

            li {
                background-color: #FFF;
                max-width: 333px;

                .txt {
                    padding: 30px;
                    color: $c-primary;

                    h2 {
                        font-size: 27px;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }

                    span {
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}